.form-signin input[type="email"] {
	margin-bottom: -1px;
	border-bottom-right-radius: 0;
	border-bottom-left-radius: 0;
}

.form-signin input[type="password"] {
	margin-bottom: 10px;
	border-top-left-radius: 0;
	border-top-right-radius: 0;
}

.form-signin {
	min-width: 300px;
}

.space {
	height: 50px;
}

.error {
	color: #f00;
	border-color: #f03 !important;
}

label.error {
	font-size: 12px;	
}